body {
    background-color:rgb(118, 117, 116);
    color:rgb(100, 99, 99);
    font-size: 21px;

}
.nav-list {
    display: flex;

    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-list li {
    flex-shrink: 1;
    gap: 1rem;
    
}
/* this is a css comment */
p{
    color:rgb(208, 200, 200);

}

h1{
    font-size: 25px;
    color:rgb(6, 6, 6);

}

div {
    background: rgb(129, 128, 128);
    width: 250px;
}
span{
    color:rgb(247, 247, 247);
    text-emphasis: bold;
}

.top-section{
    background: rgb(60, 68, 60);
    width: 250px;
    margin: 50px;
    border: 3px solid darkslategray;
    padding: 20px;
}

.bottom-section{
    background:rgb(148, 149, 165);
    width: 250px;
    margin: 50px;
    border: 3px solid darkslategray;
    padding: 20px;
}

.box{
    background: white;
    width: 300px; /*margin creates space without background of box color*/
    margin: 50px;
    border: 2px solid rgb(52, 50, 50);
    padding: 20px;
    /*padding creates empty space with background color*/
}